@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}
body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bday.gif);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
   
}
.container{
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    width: 280px;
    height: 360px;
    position: absolute;
    top: 50px;
    left: 40%;
    margin: 1px auto;
    transition: 4s;
    transform-style: preserve-3d;
}
.card.rotate {
    
    transform: translate(15%) rotateY(180deg);
    /* Rotation effect */
}
.card.double{
    transform: rotateY(360deg);
}
.block{
    position: absolute;
    top:200px;
    right: 600px;
    perspective: 800px;
}
.outside,.inside{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
    
}
.outside{
    background-color: blanchedalmond;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    backface-visibility: hidden;z-index: 4;
}
.outside h1{
    font-size: 3rem;
    font-weight: bold;
    color: salmon;
    margin-bottom: 30px;
}
.inside{
    background-color: rgb(255, 244, 79);
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    transform: rotateY(180deg);
}
.inside h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

.block{
    display: flex;
    height:500px;
    margin: 15px;
    flex-direction: column;

}

  .footer
   {
    position: fixed;
    bottom: 1px;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    height:60px;
    width: 100%;
    align-items: center;
  }
  #music-container {
    width: 150px;
    height: 50px;
    background-color:rgb(106, 252, 8);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color:darkred;
    font-weight: 800;
    opacity: 0.6;
  }

  #music2
  {
    width: 150px;
    height: 50px;
    background-color:rgb(106, 252, 8);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color:darkred;
    right: 1px;
    font-weight: 800;
    opacity: 0.6;
  }
  #music1
  {
    width: 150px;
    height: 50px;
    background-color:rgb(106, 252, 8);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color:darkred;
    right: 1px;
    font-weight: 800;
    opacity: 0.6;
  }

  
  #next1{
    width: 150px;
    height: 50px;
    background-color:rgb(106, 252, 8);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: darkred;
    opacity: 0.5;
    
  }
  #next1:hover{
    width:160px;
    height: 55px;
    font-weight: 900;
    opacity: 1;
    box-shadow: 3px 3px 18px red;
  }
  #music-container:hover{
    width:160px;
    height: 55px;
    font-weight: 900;
    opacity: 1;
    box-shadow: 3px 3px 18px rgb(0, 38, 255);

  }
  #music2:hover{
    width:160px;
    height: 55px;
    font-weight: 900;
    opacity: 1;
    box-shadow: 3px 3px 18px rgb(0, 38, 255);
    
  }
  /* Media query for screens smaller than 768px (e.g., mobile screens) */
@media (max-width: 768px) {
    .card {
       margin:8px auto;
    }
    .block{
        position:absolute;
        margin-bottom:-10px;
        
    }
     .style{
        position:relative;
        top: 100px;
        margin-top: 200px;
     }
     .footer{bottom: 50px;}

}
.style{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   
}

#letter-reveal {
    font-size: 4rem;
    color: white;
    white-space: nowrap;
}

.letter {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}